#whatsappfixo{
  position: fixed;
  z-index: 99;
  right: 20px;
  bottom: 40px;
  padding: 14px 16px 12px 14px;
  background-color: #; 
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(20, 58, 249, 0.4);
  animation: pulse 2s infinite;
  cursor: pointer;
}
.pulse {
  margin:100px;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 36px;
  border-radius: 50%;
  background: #cca92c;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(220, 12, 252, 0.4);
  animation: pulse 2s infinite;
  position: relative;
}
.pulse:hover {
  animation: none;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(241, 92, 255, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(37,211,102, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(37,211,102, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(37,211,102, 0.4);
    box-shadow: 0 0 0 0 rgba(37,211,102, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(37,211,102, 0);
      box-shadow: 0 0 0 20px rgba(37,211,102, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(37,211,102, 0);
      box-shadow: 0 0 0 0 rgba(37,211,102, 0);
  }
}
[tooltip]{
  position:relative;
  display:inline-block;
}
[tooltip]::before {
  content: "";
  position: absolute;
  left:0%;
  top:50%;
  margin-left:-12px;
  transform:translatey(-50%) rotate(-90deg);
  border-width: 6px 4px 0 8px ;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  z-index: 150;
  opacity:0;
}
[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  left:0%;
  top:50%;
  margin-left:-8px;
  transform: translateX(-100%)   translateY(-50%);
  background: #fff ;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.2);
  text-align: center;
  color: #000;
  padding: 8px;
  font-size: 16px;
  width: 200px;
  border-radius: 5px;
  pointer-events: none;
  z-index:99;
  opacity:0;
}
[tooltip]:hover::after,[tooltip]:hover::before {
  opacity:1
}

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);
.pricing8 {
font-family: "Montserrat", sans-serif;
color: #8d97ad;
font-weight: 300;
}

.pricing8 h1,
.pricing8 h2,
.pricing8 h3,
.pricing8 h4,
.pricing8 h5,
.pricing8 h6 {
color: #3e4555;
}

.pricing8 h5 {
  line-height: 22px;
  font-size: 18px;
}

.pricing8 .subtitle {
color: #8d97ad;
line-height: 24px;
}

.pricing8 .display-5 {
font-size: 3rem;
}

.pricing8 .font-14 {
font-size: 14px;
}

.pricing8 .pricing-box sup {
top: -20px;
font-size: 16px;
}

.pricing8 .btn-info-gradiant {
background: #188ef4;
background: -webkit-linear-gradient(legacy-direction(to right), #188ef4 0%, #316ce8 100%);
background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8));
background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
}

.pricing8 .btn-info-gradiant:hover {
background: #316ce8;
background: -webkit-linear-gradient(legacy-direction(to right), #316ce8 0%, #188ef4 100%);
background: -webkit-gradient(linear, left top, right top, from(#316ce8), to(#188ef4));
background: -webkit-linear-gradient(left, #316ce8 0%, #188ef4 100%);
background: -o-linear-gradient(left, #316ce8 0%, #188ef4 100%);
background: linear-gradient(to right, #316ce8 0%, #188ef4 100%);
}

.pricing8 .btn-danger-gradiant {
background: #ff4d7e;
background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

.pricing8 .btn-danger-gradiant:hover {
background: #ff6a5b;
background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}